@font-face {
  font-family: Bsc600;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
  font-weight: 600;
}

@font-face {
  font-family: Bsc700;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
  font-weight: 700;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.modal-button {
  position: fixed;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
